development:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: sporkin_auth_development
  pool: 5
  username: sporkin
  password: 1111

test:
  host: localhost  
  adapter: postgresql
  encoding: unicode
  database: sporkin_auth_test
  pool: 5
  username: sporkin
  password: 1111
